<nav>
  <div class="container-fluid">
    
    <ul class="nav nav-pills nav-justified">
      <li><%= link_to 'Prodigy Toys', store_path %></li>
      <% Category.all.each do |category| %>
        <li ><%= link_to category.name, category %></li>
      <% end %>
      <li ><%= link_to 'Contact', contact_path %></li>
      <li ><%= link_to 'About', about_path %></li>
      <% unless session[:user_id] %>
      <li><%= link_to 'Login', login_path, class: 'btn btn-default' %></li>
      <% end %>
    </ul>

  </div>
</nav>