<!DOCTYPE html>
<html>
<head>
  <title>Prodigy Toys</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="main-container" class="container">
  <div class="page-header">
    <%= image_tag("banner2.png") %>
  </div>
  <%= render 'shared/navigation' %>
  <div class="row">
    <div class="col-xs-3">
    <%= image_tag("logo.png") %>
    <% if @cart %> 
     <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
       <%= render @cart %>
     <% end %>
    <% end %>
    <ul class="list-unstyled">
      <li><a href="http://www....">Home</a></li>
      <li><a href="http://www....">Seller Page</a></li>
      <li><a href="http://www....">About Us</a></li>
      <li><a href="http://www....">Contact</a></li>
    </ul>
   </div>
   <div class="col-xs-9">
      <%= yield %>
    </div>
  </div>
 </div>
</body>
</html>
